@import 'compass/css3/transform';

.slider {
  border-radius: 3em;
  height: 2em;
  border: 0;
  margin: 1em 0;
  .noUi-base {
    border-radius: 2em;
    height: 2em;
  }
  .noUi-origin {
    border-radius: 3em;
    height: 2em;
    border: 0px;
    background: rgba(255, 255, 255, 0.9);
    .noUi-handle {
      border: 0;
      border-radius: 3em;
      height: 2.5em;
      width: 2.5em;
      top: -0.2em;
      background-color: #009688;
      color: rgba(255, 255, 255, 0.84);
      text-align: center;
      font-size: 1em;
      cursor: pointer;
      &.noUi-active {
        @include transform(scale3d(1.2, 1.2, 1));
        cursor: ew-resize;
      }
      &:before {
        content: attr(data-before);
        display: inline-block;
        position: static;
        height: auto;
        width: auto;
        background: none;
        left: auto;
        top: auto;
        font-size: 1em;
        line-height: 2.4em;
      }
      &:after {
        content: attr(data-after);
        display: inline-block;
        position: static;
        height: auto;
        width: auto;
        background: none;
        left: auto;
        top: auto;
        font-size: .7em;
        position: relative;
        top: -4px;
        left: 1px;
      }
    }
  }
  .noUi-pips {
    margin-top: -2px;
    color: #fff;
    font-size: 9px;
    .noUi-value-horizontal {
      @include opacity(0.5);
      margin-top: -68px;
    }
    .noUi-marker {
      background: #fff;
    }
    .noUi-marker-large, .noUi-marker-sub {
      margin-top: -4px;
      background: #fff;
    }
  }
  &:hover {
    .noUi-pips {
      .noUi-value-horizontal {
        @include opacity(1);
      }
    }

  }
}