<div class="select-action dropdown pull-left">
    <button id="action_type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-fab btn-warning dropdown-toggle" title="">
        <i class=""></i>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    </ul>
</div>
<div class="action-wrapper">

</div>