@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';

#actions-form
{
    position: absolute;
    right: 10%;
    left: 10%;

    padding: .8em 1em;

    background: #feda6f;
    @include transition(box-shadow 1s .2s);
    .form-control-wrapper
    {
        margin-top: 1em;
        padding: 0 5em;
        textarea
        {
            display: block;
            overflow-x: hidden; /* for Firefox (issue #5) */

            box-sizing: border-box;
            width: 100%;
            height: 2.7em;
            min-height: 2.7em;
            max-height: 20em; /* optional, but recommended */
            margin: 0 auto;
            padding: .5em 0;
        }
        .floating-label
        {
            left: 70px;

            color: rgba(0, 0, 0, .4);
        }
        .form-control:focus ~ .floating-label,
        .form-control:not(.empty) ~ .floating-label
        {
            top: -14px;
            left: 70px;

            color: #009688;
        }
    }
}
