.btn {
  &.btn-fab {
    i.letter {
      font-weight: 700;
      font-style: normal;
    }
    &.btn-fab-mini {
      i.letter {
        top: -9px;
        left: 2px;
      }
    }

  }
  &.btn-loadmore {
    visibility: hidden;
  }
}
