@import 'compass/css3/transition';
@import 'compass/css3/opacity';

.list-group
{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;

    list-style-type: none;
    .list-group-item
    {
        position: relative;

        background: $c-white;
        display: block;

        width: 100%;
        min-height: 1em;
        // max-height: 20em;
        margin: .4em auto .8em;
        padding: 1em;

        @include opacity(1);
        @include transition(all .4s);
        &:hover
        {
            .actions
            {
                display: table;

                @include opacity(1);
            }
            .col-icon
            {
                .btn
                {
                    position: absolute;
                    &.type
                    {
                        z-index: 9;

                        @include opacity(0);
                    }
                    &.edit
                    {
                        z-index: 10;

                        @include opacity(1);
                    }
                }
            }
        }
        &.editmode
        {
            pointer-events: none;

            background-color: #ddd;
            text-shadow: 1px 1px #fff;

            @include opacity(.3);
        }
        &.on-show
        {
            overflow: hidden;

            box-sizing: border-box;
            width: 0;
            min-height: 0;
            max-height: 0;
            margin: 0 auto .2em;
            padding: 0;

            border-color: #f00;
            *
            {
                @include opacity(0);
            }
        }
        &.current {
            .record-info {
              background-color: #EDEDED;
              padding: 1em 1em 0.7em;
              margin: -1em -1em 0em;
          }
        }
        *
        {
            @include opacity(1);
            @include transition(opacity .2s .4s);
        }
        .subject_edit
        {
            width: 100%;
            padding: 0;

            border: none;
        }
        ul.actions
        {
            position: absolute;
            right: 1em;

            display: table;

            width: 100%;
            height: 40px;
            margin: 0;
            padding: 0;

            list-style-type: none;

            @include transition(opacity .8s .4s);
            @include opacity(0);
            li
            {
                display: table-cell;

                margin: 1em;
            }
        }
        .record-info
        {
            i
            {
                font-size: 1.3em;

                position: relative;
                top: .1em;

                margin-right: .2em;
            }
        }
        .last-update
        {
            margin-top: .6em;
            .text-muted
            {
                font-size: .85em;

                color: #b4b4b4;
                &:before
                {
                    content: 'Last Update: ';

                    color: #c4c4c4;
                }
            }
        }
        .col-icon
        {
            .btn
            {
                position: absolute;
                &.type
                {
                    z-index: 10;

                    @include transition(opacity .8s .4s);
                    @include opacity(1);
                }
                &.edit
                {
                    z-index: 9;

                    @include transition(opacity .8s .4s);
                    @include opacity(0);
                }
            }
        }
    }
}
