@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
/* line 11, ../../app/assets/sass/global/_fonts.scss */
body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: normal;
}

/* line 15, ../../app/assets/sass/global/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: normal;
}

/* line 20, ../../app/assets/sass/global/_fonts.scss */
.button {
  font-family: "Roboto Slab", serif !important;
  font-weight: bold;
}

/* line 1, ../../app/assets/sass/layout/_menu.scss */
#menu {
  background: #ddd;
}
/* line 3, ../../app/assets/sass/layout/_menu.scss */
#menu [role=tab] {
  margin-bottom: 0;
}

/* line 1, ../../app/assets/sass/layout/_panel.scss */
#panel {
  height: 100%;
  color: #000;
  background: #eee;
}
/* line 7, ../../app/assets/sass/layout/_panel.scss */
#panel > div {
  overflow: auto;
  height: 100%;
  padding-top: 78px;
}
/* line 13, ../../app/assets/sass/layout/_panel.scss */
#panel > div > .scrollWrapper {
  overflow: auto;
  height: 100%;
}

/* line 4, ../../app/assets/sass/layout/_header.scss */
#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 12, ../../app/assets/sass/layout/_header.scss */
#header .navbar {
  height: 78px;
  margin-bottom: 0;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 19, ../../app/assets/sass/layout/_header.scss */
#header .btn {
  z-index: 100;
}
/* line 23, ../../app/assets/sass/layout/_header.scss */
#header .btn-link {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 27, ../../app/assets/sass/layout/_header.scss */
#header #menuToggler {
  margin: .4em;
}

/* line 1, ../../app/assets/sass/layout/_main.scss */
#main {
  right: 10%;
  left: 10%;
  padding: 1em;
}

/* line 3, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form {
  position: absolute;
  right: 10%;
  left: 10%;
  padding: .75em 1em;
  background: rgba(255, 255, 255, 0.7);
  -moz-transition: box-shadow 1s 0.2s, background 1s 0.2s;
  -o-transition: box-shadow 1s 0.2s, background 1s 0.2s;
  -webkit-transition: box-shadow 1s, background 1s;
  -webkit-transition-delay: 0.2s, 0.2s;
  transition: box-shadow 1s 0.2s, background 1s 0.2s;
}
/* line 14, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form.shadow-z-2 {
  background: rgba(255, 255, 255, 0.95);
}
/* line 18, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form .btn-close-action {
  position: absolute;
  top: 1em;
  right: 2em;
}
/* line 24, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form .action-wrapper {
  overflow: visible;
  margin-top: 1em;
  padding: 0 5em;
}
/* line 30, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form .action-wrapper textarea {
  font-size: 18px;
  display: block;
  overflow-x: hidden;
  /* for Firefox (issue #5) */
  box-sizing: border-box;
  width: 100%;
  height: 2.4em;
  min-height: 2.4em;
  max-height: 20em;
  /* optional, but recommended */
  margin: 0 auto;
  padding: .2em 0;
  line-height: 1.6;
}
/* line 46, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form .action-wrapper .floating-label {
  color: rgba(0, 0, 0, 0.4);
}
/* line 50, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form .action-wrapper .form-control:focus ~ .floating-label,
#actions-form .action-wrapper .form-control:not(.empty) ~ .floating-label {
  color: #009688;
}
/* line 55, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form .action-wrapper .details-container {
  height: 54px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.2s 0.1s;
  -o-transition: all 0.2s 0.1s;
  -webkit-transition: all 0.2s;
  -webkit-transition-delay: 0.1s;
  transition: all 0.2s 0.1s;
}
/* line 62, ../../app/assets/sass/blocks/_actions-form.scss */
#actions-form .action-wrapper .details-container.hidden {
  height: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 7, ../../app/assets/sass/blocks/_select-action.scss */
.select-action .dropdown-menu {
  border: none;
  background: none;
  top: 0;
  left: 100%;
  min-width: 1000px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 16, ../../app/assets/sass/blocks/_select-action.scss */
.select-action .dropdown-menu li {
  overflow: visible;
  margin-bottom: .6em;
  float: left;
}
/* line 22, ../../app/assets/sass/blocks/_select-action.scss */
.select-action .dropdown-menu li.active {
  display: none;
}
/* line 26, ../../app/assets/sass/blocks/_select-action.scss */
.select-action .dropdown-menu li .btn {
  font-size: 20px;
  width: 46px;
  height: 46px;
  margin: 0;
  margin-left: 5px;
  padding: 13px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 39, ../../app/assets/sass/blocks/_select-action.scss */
.select-action .dropdown-menu li .btn i {
  font-size: 22px;
  margin-top: 2px;
  margin-left: -1px;
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(1) .btn {
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(2) .btn {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(3) .btn {
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(4) .btn {
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(5) .btn {
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(6) .btn {
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(7) .btn {
  -moz-transition-duration: 1.05s;
  -o-transition-duration: 1.05s;
  -webkit-transition-duration: 1.05s;
  transition-duration: 1.05s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(8) .btn {
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(9) .btn {
  -moz-transition-duration: 1.35s;
  -o-transition-duration: 1.35s;
  -webkit-transition-duration: 1.35s;
  transition-duration: 1.35s;
  -moz-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 54, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li:nth-child(10) .btn {
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 64, ../../app/assets/sass/blocks/_select-action.scss */
.select-action.open .dropdown-menu li .btn:hover {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 3, ../../app/assets/sass/blocks/_page-title.scss */
.page-title {
  padding: 0.5em .7em;
  background: #EEE;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 2px 1px #FFF;
}
/* line 10, ../../app/assets/sass/blocks/_page-title.scss */
.page-title .nav h2 {
  margin: 0;
}
/* line 13, ../../app/assets/sass/blocks/_page-title.scss */
.page-title .nav [class^="mdi-"], .page-title .nav [class*="mdi-"] {
  font-size: 1em;
}

/* line 4, ../../app/assets/sass/blocks/_list-group.scss */
.list-group {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  list-style-type: none;
}
/* line 11, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item {
  position: relative;
  background: #fff;
  display: block;
  width: 100%;
  min-height: 1em;
  margin: .4em auto .8em;
  padding: 1em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 28, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item:hover .actions {
  display: table;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 36, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item:hover .col-icon .btn {
  position: absolute;
}
/* line 39, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item:hover .col-icon .btn.type {
  z-index: 9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 45, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item:hover .col-icon .btn.edit {
  z-index: 10;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 54, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item.editmode {
  pointer-events: none;
  background-color: #ddd;
  text-shadow: 1px 1px #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 63, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item.on-show {
  overflow: hidden;
  box-sizing: border-box;
  width: 0;
  min-height: 0;
  max-height: 0;
  margin: 0 auto .2em;
  padding: 0;
  border-color: #f00;
}
/* line 75, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item.on-show * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 81, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item.current .record-info {
  background-color: #EDEDED;
  padding: 1em 1em 0.7em;
  margin: -1em -1em 0em;
}
/* line 87, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item * {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.2s 0.4s;
  -o-transition: opacity 0.2s 0.4s;
  -webkit-transition: opacity 0.2s;
  -webkit-transition-delay: 0.4s;
  transition: opacity 0.2s 0.4s;
}
/* line 92, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .subject_edit {
  width: 100%;
  padding: 0;
  border: none;
}
/* line 99, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item ul.actions {
  position: absolute;
  right: 1em;
  display: table;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -moz-transition: opacity 0.8s 0.4s;
  -o-transition: opacity 0.8s 0.4s;
  -webkit-transition: opacity 0.8s;
  -webkit-transition-delay: 0.4s;
  transition: opacity 0.8s 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 115, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item ul.actions li {
  display: table-cell;
  margin: 1em;
}
/* line 124, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .record-info i {
  font-size: 1.3em;
  position: relative;
  top: .1em;
  margin-right: .2em;
}
/* line 134, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .last-update {
  margin-top: .6em;
}
/* line 137, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .last-update .text-muted {
  font-size: .85em;
  color: #b4b4b4;
}
/* line 142, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .last-update .text-muted:before {
  content: 'Last Update: ';
  color: #c4c4c4;
}
/* line 152, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .col-icon .btn {
  position: absolute;
}
/* line 155, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .col-icon .btn.type {
  z-index: 10;
  -moz-transition: opacity 0.8s 0.4s;
  -o-transition: opacity 0.8s 0.4s;
  -webkit-transition: opacity 0.8s;
  -webkit-transition-delay: 0.4s;
  transition: opacity 0.8s 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 162, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-item .col-icon .btn.edit {
  z-index: 9;
  -moz-transition: opacity 0.8s 0.4s;
  -o-transition: opacity 0.8s 0.4s;
  -webkit-transition: opacity 0.8s;
  -webkit-transition-delay: 0.4s;
  transition: opacity 0.8s 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 172, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-items-group {
  color: #525252;
  text-shadow: 1px 1px #FFF;
  padding: 0.5em 1em;
  -moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
/* line 178, ../../app/assets/sass/blocks/_list-group.scss */
.list-group .list-group-items-group + .list-group-item {
  margin-top: 0;
}
/* line 182, ../../app/assets/sass/blocks/_list-group.scss */
.list-group > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

/* line 1, ../../app/assets/sass/blocks/_project-definition.scss */
.project_definition {
  display: inline-block;
  pointer-events: auto;
  position: relative;
}
/* line 5, ../../app/assets/sass/blocks/_project-definition.scss */
.project_definition .project_definition-toggler {
  font-weight: bold;
  font-style: italic;
  font-size: 0.9em;
  margin-left: .4em;
  display: inline-block;
}
/* line 12, ../../app/assets/sass/blocks/_project-definition.scss */
.project_definition .dropdown-menu {
  border-radius: 0;
  padding: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 17, ../../app/assets/sass/blocks/_project-definition.scss */
.project_definition .dropdown-menu li {
  margin: 0;
}
/* line 20, ../../app/assets/sass/blocks/_project-definition.scss */
.project_definition .dropdown-menu li.input-cont input {
  padding: .5em 1.5em;
}
/* line 24, ../../app/assets/sass/blocks/_project-definition.scss */
.project_definition .dropdown-menu li .btn {
  margin: 0;
  border-radius: 0;
  text-transform: none;
  text-align: left;
}
/* line 29, ../../app/assets/sass/blocks/_project-definition.scss */
.project_definition .dropdown-menu li .btn.noDefault:before {
  content: "to ";
}

/* line 1, ../../app/assets/sass/blocks/_ani.scss */
.ani {
  background: linear-gradient(320deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-size: 28% 100%;
  -webkit-animation: AnimationName 20s linear infinite;
  -moz-animation: AnimationName 20s linear infinite;
  -o-animation: AnimationName 20s linear infinite;
  animation: AnimationName 20s linear infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
/* line 3, ../../app/assets/sass/blocks/_btn.scss */
.btn.btn-fab i.letter {
  font-weight: 700;
  font-style: normal;
}
/* line 8, ../../app/assets/sass/blocks/_btn.scss */
.btn.btn-fab.btn-fab-mini i.letter {
  top: -9px;
  left: 2px;
}
/* line 15, ../../app/assets/sass/blocks/_btn.scss */
.btn.btn-loadmore {
  visibility: hidden;
}

/* line 3, ../../app/assets/sass/structures/_slider.scss */
.slider {
  border-radius: 3em;
  height: 2em;
  border: 0;
  margin: 1em 0;
}
/* line 8, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-base {
  border-radius: 2em;
  height: 2em;
}
/* line 12, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-origin {
  border-radius: 3em;
  height: 2em;
  border: 0px;
  background: rgba(255, 255, 255, 0.9);
}
/* line 17, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-origin .noUi-handle {
  border: 0;
  border-radius: 3em;
  height: 2.5em;
  width: 2.5em;
  top: -0.2em;
  background-color: #009688;
  color: rgba(255, 255, 255, 0.84);
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}
/* line 28, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-origin .noUi-handle.noUi-active {
  -moz-transform: scale3d(1.2, 1.2, 1);
  -ms-transform: scale3d(1.2, 1.2, 1);
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  cursor: ew-resize;
}
/* line 32, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-origin .noUi-handle:before {
  content: attr(data-before);
  display: inline-block;
  position: static;
  height: auto;
  width: auto;
  background: none;
  left: auto;
  top: auto;
  font-size: 1em;
  line-height: 2.4em;
}
/* line 44, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-origin .noUi-handle:after {
  content: attr(data-after);
  display: inline-block;
  position: static;
  height: auto;
  width: auto;
  background: none;
  left: auto;
  top: auto;
  font-size: .7em;
  position: relative;
  top: -4px;
  left: 1px;
}
/* line 60, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-pips {
  margin-top: -2px;
  color: #fff;
  font-size: 9px;
}
/* line 64, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-pips .noUi-value-horizontal {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-top: -68px;
}
/* line 68, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-pips .noUi-marker {
  background: #fff;
}
/* line 71, ../../app/assets/sass/structures/_slider.scss */
.slider .noUi-pips .noUi-marker-large, .slider .noUi-pips .noUi-marker-sub {
  margin-top: -4px;
  background: #fff;
}
/* line 78, ../../app/assets/sass/structures/_slider.scss */
.slider:hover .noUi-pips .noUi-value-horizontal {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 21, ../../app/assets/sass/app.scss */
html,
body {
  overflow: hidden;
  height: 100%;
}
