@import 'compass/css3/box-shadow';
@import 'compass/css3/transition';

#header
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    .navbar
    {
        height: $header-height;
        margin-bottom: 0;

        @include transition(background-color .5s);
    }
    .btn
    {
        z-index: 100;
    }
    .btn-link
    {
        @include box-shadow(none);
    }
    #menuToggler
    {
        margin: .4em;
    }
}
