#panel
{
    height: 100%;
    padding-top: $header-height;

    color: $c-main;
    background: $c-main-fon;
    > div {
      overflow: auto;

      height: 100%;
      > .scrollWrapper
      {
          overflow: auto;

          height: 100%;
      }
    }
}
