#panel
{
    height: 100%;

    color: $c-main;
    background: $c-main-fon;
    > div
    {
        overflow: auto;

        height: 100%;
        padding-top: $header-height;
        > .scrollWrapper
        {
            overflow: auto;

            height: 100%;
        }
    }
}
