<div class="select-action-type-dropdown dropdown pull-left">
    <button id="action_type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-fab btn-warning dropdown-toggle" title="SHIFT + ENTER to submit">
        <i class=""></i>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    </ul>
</div>
<a id="detailsNew" class="btn btn-fab btn-link pull-right" href="javascript:void(0)" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" data-placement="left">
    <i class="mdi-navigation-more-vert"></i>
</a>
<div class="form-control-wrapper">
    <textarea class="form-control" name="action"></textarea>
    <div class="floating-label">Selected Action Hint</div>
    <span class="material-input"></span>
    <div class="controls-container hidden">
        <div class="row">
            <div class="col-md-2">
                <div class="btn-group select-date">
                    <a href="javascript:void(0)" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" id="open-cal" data-target="#" style="padding-left: 15px;"><i class="mdi-action-event pull-left"></i><div class="caption" style="display: inline-block;"><ruby>Сегодня<rt>03.01.2015</rt> </ruby></div> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-default">
                                <ruby>Позавчера
                                    <rt>01.01.2015</rt>
                                </ruby>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="btn btn-default">
                                <ruby>Вчера
                                    <rt>02.01.2015</rt>
                                </ruby>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="btn btn-default">
                                <ruby>Сегодня
                                    <rt>03.01.2015</rt>
                                </ruby>
                            </a>
                        </li>
                        <li><a href="javascript:void(0)" class="btn btn-default disabled">Выбрать дату</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="slider shor btn-primary slider-material-orange"></div>
            </div>
            <div class="col-md-2">
                <button href="#send-form" id="send-form" class="btn btn-primary btn-block"><i class="mdi-action-done pull-left"></i>Send</button>
            </div>
        </div>
        <div class="row hidden">
          <div class="well">
            Project: <input type="text" value="0" name="project_id" />

          </div>
        </div>
    </div>
</div>