<div class="select-action-type-dropdown dropdown pull-left">
  <button id="action_type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-fab btn-warning dropdown-toggle" title="SHIFT + ENTER to submit">
    <i class=""></i>
  </button>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">


  </ul>
</div>


<a id="detailsNew" class="btn btn-fab btn-link pull-right" href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="" data-original-title="Action details">
  <i class="mdi-navigation-more-vert"></i>
</a>

<div class="form-control-wrapper">
  <textarea class="form-control" name="action"></textarea>
  <div class="floating-label">Selected Action Hint</div>
  <span class="material-input"></span>
</div>


