<div class="row">

  <div class="icon col-md-1 col-sm-2">
    <a  class="btn btn-fab btn-fab-mini btn-info" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Other wroject will be thouched">
      <i class="mdi-action-group-work"></i>
    </a>
  </div>

  <div class="date col-md-2 col-sm-3">{{date}}</div>

  <div class="subject col-md-8 col-sm-6">{{nl2br subject}}</div>

  <div class="menu col-md-1 col-sm-1">
    <a class="details btn btn-fab btn-fab-mini btn-flat pull-right" href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="" data-original-title="Edit action">
      <i class="mdi-editor-mode-edit"></i>
    </a>
  </div>
</div>