<div class="icon">
  <a  class="btn btn-fab btn-fab-mini btn-info" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Other wroject will be thouched">
    <i class="mdi-action-group-work"></i>
  </a>

</div>
<div class="date">{{date}}</div>
<div class="subject">{{subject}}</div>
<div class="menu">

  <a class="details btn btn-fab btn-link pull-right" href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="" data-original-title="Action details">
    <i class="mdi-navigation-more-vert"></i>
  </a>


</div>
