{{placeholder 'btn_close_action'}}
{{placeholder 'textarea'}}
<div class="details-container hidden">
    <div class="row">
        <div class="col-md-2">
            {{placeholder 'selectday'}}
        </div>
        <div class="col-md-8">
            {{placeholder 'slider'}}
        </div>
        <div class="col-md-2">
            <button href="#send-form" id="send-form" class="btn btn-primary btn-block"><i class="mdi-action-done pull-left"></i>Send</button>
        </div>
    </div>
    <div class="row hidden">
        <div class="well">
            Project:
            <input type="text" value="0" name="project_id" />
        </div>
    </div>
</div>