<a id="detailsNew" class="btn btn-fab btn-link" href="javascript:void(0)" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" data-placement="left" style="  position: absolute; top: -0.7em; right: 0;">
    <i class="mdi-navigation-more-vert"></i>
</a>
<div class="badge">{{title}}</div>