{{placeholder 'btn_close_action'}}
{{placeholder 'textarea'}}
<div class="floating-label">{{title}}</div>
<span class="material-input"></span>

<div class="details-container hidden">
  user details
</div>