@import "compass/css3/box-shadow";

#header {
  height: $header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .navbar {
    height: $header-height;
  }

  .btn {
    z-index: 100;
  }
  .btn-link{
    @include box-shadow(none);
  }
  #menuToggler {
    margin: .4em;
  }
}
