#panel {
  background: #fff;
  height: 100%;
  padding-top: 170px;
}
.scrollWrapper {
  overflow: auto;
  height: 100%;
  outline: 1px solid red;
  background-color: #f99;
}

#header {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}
