<div class="project_definition">
  <a href="#define_project" class="project_definition-toggler dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caption">{{title}}</span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a class="btn btn-white" href="#">Action</a></li>
    <li><a class="btn btn-white" href="#">Another action</a></li>
    <li><a class="btn btn-white" href="#">Something else here</a></li>
    <li><a class="btn btn-white" href="#">Separated link</a></li>
    <li class="divider"></li>
    <li><a class="btn btn-white" href="#">{{title}}</a></li>
  </ul>
</div>