<div class="project_definition">
  <a href="#define_project" class="project_definition-toggler dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caption">{{title}}</span></a>
  <ul class="dropdown-menu list" role="menu">
    <li class="input-cont">
      <input type="search" class="form-control" placeholder="Start typing..."/>
    </li>

  </ul>
</div>