<a href="javascript:void(0)" class="btn btn-block btn-white btn-xs dropdown-toggle" data-toggle="dropdown" id="open-cal" data-target="#" style="padding-left: 15px;"><i class="mdi-action-event pull-left"></i><div class="caption" style="display: inline-block;"><ruby>{{current.name}}<rt>{{current.day}}</rt> </ruby></div> <span class="caret"></span></a>
<ul class="dropdown-menu">
    {{#each days}}

        <li>
            <button class="btn btn-default btn-block">
                <ruby>{{name}}
                    <rt>{{day}}</rt>
                </ruby>
            </button>
        </li>
    {{/each}}

    <li><a href="javascript:void(0)" class="btn btn-default disabled">Выбрать дату</a></li>
</ul>