<a href="javascript:void(0)" class="btn btn-block btn-white btn-xs dropdown-toggle" data-toggle="dropdown" id="open-cal" data-target="#" style="padding-left: 15px;"><i class="mdi-action-event pull-left"></i><div class="caption" style="display: inline-block;"><ruby>Сегодня<rt>03.01.2015</rt> </ruby></div> <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li>
        <button class="btn btn-default btn-block">
            <ruby>Позавчера
                <rt>01.01.2015</rt>
            </ruby>
        </button>
    </li>
    <li>
        <button class="btn btn-default btn-block">
            <ruby>Вчера
                <rt>02.01.2015</rt>
            </ruby>
        </button>
    </li>
    <li>
        <button class="btn btn-default btn-block">
            <ruby>Сегодня
                <rt>03.01.2015</rt>
            </ruby>
        </button>
    </li>
    <li><a href="javascript:void(0)" class="btn btn-default disabled">Выбрать дату</a></li>
</ul>