<div class="container">
  <div class="well" style="margin: 0;">


    <p>I'am footer partial</p>

    <p>{{link_to href='#click-me' id='click-me' body='Click on subview'}}</p>

    <p>{{link_to href='#window-close' id='window-close' body='Close window'}}</p>
  </div>
</div>
