<div class="container">
  <div class="well" style="margin: 0;">


    <p class="hidden">I'am footer partial</p>

    <p class="hidden">{{link_to href='#click-me' id='click-me' body='Click on subview'}}</p>

    <p>
<a href="#window-close" id="window-close" class="btn btn-primary"><i class="mdi-navigation-close pull-left"></i> Close window</a>

    </p>

  </div>
</div>
