<div class="panel-heading">
  <button id="menuToggler" class="btn btn-fab btn-raised btn-material-red">
<i class="mdi-navigation-arrow-back"></i>
  </button>
  <h1>{{safe_val title 'lalal'}}</h1>
</div>
