<div class="navbar navbar-material-amber">
  <a id="menuToggler" class="btn btn-fab btn-link pull-left" href="javascript:void(0)">
    <i class="mdi-action-view-list"></i>
  </a>
  <div class="container">
    <div id="headForm">

      <a id="actionType" class="btn btn-fab btn-primary pull-left" href="javascript:void(0)">
        <i class="mdi-editor-mode-edit"></i>
      </a>

      <a id="detailsNew" class="btn btn-fab btn-link pull-right" href="javascript:void(0)">
        <i class="mdi-navigation-more-vert"></i>
      </a>

      <div class="form-control-wrapper">
        <textarea class="form-control" name="action"></textarea>
        <div class="floating-label">Selected Action Hint</div>
        <span class="material-input"></span></div>
      </div>
    </div>
  </div>
<!--
<div class="hidden navbar-collapse collapse navbar-material-amber-collapse" style="display: none !important;">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="index.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action type <b class="caret"></b><div class="ripple-wrapper"></div></a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)">Add track</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Recent projects</li>
        <li><a href="javascript:void(0)">Project name 1</a></li>
        <li><a href="javascript:void(0)">Another project 2</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)">Search</a></li>
        <li><a href="javascript:void(0)">Something else here</a></li>
      </ul>
    </li>
  </ul>
  <form class="navbar-form navbar-left">
    <div class="form-control-wrapper"><input type="text" class="form-control empty"><div class="floating-label">Selected Action Hint</div><span class="material-input"></span></div>
    <!- -  - ->
  </form>
  <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="javascript:void(0)">Active</a></li>
    <li><a href="javascript:void(0)">Link</a></li>
    <li><a href="#">{{safe_val title 'Project title default'}}</a></li>
  </ul>
</div>
</div>
 -->