<div class="navbar navbar-material-amber shadow-z-1" style="-webkit-app-region: drag">
  <a id="menuToggler" class="btn btn-fab btn-link pull-left" href="javascript:void(0)">
    <i class="mdi-action-view-headline"></i>
  </a>
  <div class="container">
    <div id="actions-form">

    </div>
  </div>
</div>

