<div class="navbar navbar-material-amber">
  <a id="menuToggler" class="btn btn-fab btn-link pull-left" href="javascript:void(0)">
    <i class="mdi-action-view-list"></i>
  </a>
  <div class="container">
    <div id="actions-form">

      <div class="select-action-type-dropdown dropdown pull-left">
        <button id="action_type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-fab btn-primary dropdown-toggle">
          <i class="mdi-editor-mode-edit"></i>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li class="active">
            <a class="btn btn-fab btn-primary" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Add record">
              <i class="mdi-editor-mode-edit"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-fab btn-white" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Search">
              <i class="mdi-action-search"></i>
            </a>
          </li>
          <li>
            <a class="btn btn-fab btn-info" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Add record to project 1">
              <i class="" style="line-height: 1.4em; font-weight: bold;">P</i>
            </a>
          </li>
          <li>
            <a  class="btn btn-fab btn-info" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Other wroject will be thouched">
              <i class="mdi-action-group-work"></i>
            </a>
          </li>
          <!-- <li>
            <a  class="btn btn-fab btn-warning" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="Add task to user">
              <i class="mdi-social-person-outline"></i>
            </a>
          </li> -->

        </ul>
      </div>


      <a id="detailsNew" class="btn btn-fab btn-link pull-right" href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="" data-original-title="Action details">
        <i class="mdi-navigation-more-vert"></i>
      </a>

      <div class="form-control-wrapper">
        <textarea class="form-control" name="action"></textarea>
        <div class="floating-label">Selected Action Hint</div>
        <span class="material-input"></span>
      </div>
    </div>
  </div>
</div>

