<header>
  <h2>Menu</h2>
</header>
<div class="panel panel-default">
  <div class="panel-heading"><h1>Submenu 1 heading</h1></div>
  <div class="panel-body">

    <div class="list-style-group">
      {{link_to class="list-group-item" href='#populate' body='Populate'}}
      {{link_to class="list-group-item" href='#slashed/path' body='Slashed'}}
    </div>


  </div>
</div>
