<header>
  <h2>Menu</h2>
</header>
<div class="panel panel-default">
  <div class="panel-heading"><h1>Submenu 1 heading</h1></div>
  <div class="panel-body">

    {{link_to class="btn btn-block" href='#populate' body='Populate'}}
    {{link_to class="btn btn-block" href='#slashed/path' body='Slashed'}}


  </div>
</div>
