<div class="scrollWrapper">
    <div class="container" style="padding: 0">
        <div id="main">
            <div class="well" style="width: 40em; margin: 0 auto;">
                <h1>{{title}}</h1>
                <ul class="nav nav-tabs" style="margin-bottom: 1em">
                    <li class="active"><a href="#login" data-toggle="tab">Log In</a></li>
                    <li><a href="#signin" data-toggle="tab">Sign In</a></li>
                    <li class="1hidden"><a href="#forgotpassword" data-toggle="tab">Forgot Password</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="login">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Log In</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                        <div class="togglebutton">
                                            <br>
                                            <label>
                                                <input type="checkbox" checked=""> Toggle button
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2"> <button class="btn btn-lg btn-block btn-login btn-inverse">Log In</button></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signin">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Sign In</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="repeatPassword" class="col-lg-2 control-label">Repeat Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2"> <button class="btn btn-lg btn-block btn-login btn-inverse">Sign In</button></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="forgotpassword">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Forgot Password</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2"> <button class="btn btn-lg btn-block btn-login btn-inverse">Send</button></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
    </footer>
</div>